<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">

      <header>        
        <h1>
          <a href="{{ "/" | absolute_url }}">
            <img src="/images/openeo_logo.png" alt="{{ site.title }}" />
          </a>
        </h1>

        <p>{{ site.description }}</p>

        {% assign sorted_pages = site.pages | sort:"order" %}
        <ul class="view menu">
        {% for pg in sorted_pages %}
          {% assign full_url = pg.url | prepend: site.baseurl %}
          {% if pg.title %}
          <li>
          {% if full_url == page.url %}
          <strong>{{ pg.title }}</strong>
          {% else %}
          <a href="{{ full_url }}">{{ pg.title }}</a>
          {% endif %}
          </li>
          {% endif %}
        {% endfor %}
        </ul>

        <p class="view channels">
          <!-- Thankfully provided by https://simpleicons.org/ -->
          <a href="https://github.com/Open-EO"><img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@1.9/icons/github.svg" alt="GitHub: Open-EO" title="GitHub: Open-EO" /></a>
          <a href="https://twitter.com/Open_EO"><img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@1.9/icons/twitter.svg" alt="Twitter: Open_EO" title="Twitter: Open_EO" /></a>
          <a href="https://www.youtube.com/channel/UCMJQil8j9sHBQkcSlSaEsvQ"><img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@1.9/icons/youtube.svg" alt="Twitter: openEO" title="Twitter: openEO" /></a>
          <a href="https://openeo-chat.eodc.eu/channel/public"><img height="24" width="24" src="https://cdn.jsdelivr.net/npm/simple-icons@1.9/icons/wechat.svg" alt="Public chat" title="Public chat" /></a>
        </p>

        <p class="view eu">
          <img src="/images/eu.jpg" alt="EU flag" width="100" /><br />
          <small>H2020 grant <a href="http://cordis.europa.eu/projects/776242">776242</a></small>
        </p>

      </header>

      <section>
      {{ content }}
      </section>

    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>